/* Webfont CSS setup for Steelflight by Caveras */

@font-face {
	font-family:'Steelflight';
		src:url('steelflight/Steelflight.eot');
		src:url('steelflight/Steelflight.eot?#iefix') format('embedded-opentype'),
				url('steelflight/Steelflight.woff') format('woff'),
				url('steelflight/Steelflight.ttf') format('truetype'),
				url('steelflight/Steelflight.svg#Steelflight') format('svg');
	font-weight:normal;
	font-style:normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family:'Steelflight';
		src: url('steelflight/Steelflight.svg') format('svg');
		font-weight:normal;
		font-style:normal;
	}
}


html, body {
    height: 100%;
    position: relative;
    min-height: 100%;
    background: #b3ceb9;
    font-family: 'Steelflight';
}

.ready {
    height: 100%;
    display: flex;
}

.ready-content {
    align-self: center;
    flex-grow: 1;
    text-align: center;
}

h1 {
    display: inline-block;
    margin: 3vh 8%;
}

#mount video {
    margin: 0 auto;
    align-self: center;
    flex-grow: 1;
}

#mount {
    width: 100%;
    height: 100%;
    display: flex;
    background: #000;
}

#mount.is-hidden {
    display: none;
}

img {
    max-height: 60vh;
}

.square {
    display: inline-block;
    background-color: #000;
    height: 1em;
    width: 0.6em;
    margin: 0.1em;
    margin-bottom: -0.1em;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}